@media screen and (max-width: 1439px) {
    .main {
        position: relative;
    }
    
    .nav {
        background-color: var(--bg-menu);
        width: min(65%, 254px);
        height: calc(100vh - 56px - 1rem - 42px);
        padding: 24px;
        border-radius: 8px;

        position: absolute;
        right: 0;
        top: 0;
        margin-right: 2rem;
        margin-top: 24px;
        box-sizing: border-box;
    }

    .nav__title {
        display: none;
    }

    .line {
        margin: 24px 0 36px 0;
    }

    .header__perfil.mobile {
        display: flex;
        align-items: center;
        column-gap: .5rem;
    }
}

@media screen and (min-width: 1440px) {
    .nav {
        display: block;
    }

    .line {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        margin-right: 1rem;
        margin-top: 42px;
    }
}