.header {
    height: 56px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__box_search {
    background-color: var(--bg-box-search);
    padding: 1rem 0 1rem 14px;
    border-radius: .5rem;
}

.header__button:nth-of-type(2):hover {
    cursor: pointer;
}

.header__button.search::before {
    content: url(../img/search.svg);
}

.header__button.menu::before {
    content: url(../img/menu-hamburger.svg);
}

.header__button.menu-close::before {
    content: url(../img/menu-hamburger-close.svg);
}

.header__perfil.desktop {
    display: none;
}

.header__photo_user {
    border-radius: 50%;
}

.haader__name_user {
    color: #fff;
    line-height: 1.2;
}
