.header {
    height: 56px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__box_search {
    background-color: var(--bg-box-search);
    padding: 1rem 0 1rem 14px;
    border-radius: .5rem;
}

.header__button.search::before {
    content: url(../img/search.svg);
}

.header__button.menu::before {
    content: url(../img/menu-hamburger.svg);
}

.header__perfil {
    display: none;
}
