.nav {
    /* display: none; */
    grid-area: nav-area;
}

.nav__title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin-bottom: 1rem;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__list_item a {
    color: #fff;
    vertical-align: middle;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.list__icon.code {
    content: url('../img/icon-code.svg')
}

.list__icon.comunity {
    content: url('../img/icon-comunity.svg')
}