.project {
    padding: 0 2rem 40px;
}

.project-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.project-form__title {
    font-size: 12px;
    letter-spacing: 4px;
}

.input__project {
    background-color: rgba(255, 255, 255, .16);
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
}

.input__project.description {
    height: 80px;
}