@media screen and (max-width: 767px){

    .header {
        margin: 1rem 1rem 0 1rem;
    }

    .header__box_search {
        display: none;
    }
    
    .header__button  {
        position: absolute;
    }
    
    .header__button:nth-of-type(2) {
        right: 0;
    }
    
    .header__button:nth-of-type(1) {
        right: calc(0% + 20px);
        margin-right: 2rem;
    }
}

@media screen and (min-width: 768px) {
  
    .header {
        justify-content: space-between;
        margin: 2rem 2rem 0 2rem;
    }

    .header__box_search {
        width: min(100%, 432px);
    }
    
    .header__button.search {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header__box_search {
        width: min(100%, 752px);
    }
    
    .header__button.menu {
        display: none;
    }

    .header__perfil {
        display: flex;
        width: 120px;
        align-items: center;
        column-gap: .5rem;
    }

    .header__photo_user {
        border-radius: 50%;
    }

    .haader__name_user {
        color: #fff;
    }
}