@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url(./header.css);
@import url(./nav.css);
@import url(./content.css);
@import url(./code.css);
@import url(./project.css);

    /* Medias Querys importadas */
@import url(./querys/header-q.css);
@import url(./querys/nav-q.css);

:root {
    --font-family: 'Inter', sans-serif;
    --dark-blue: #051D3B;
    --bg-box-search: rgba(255, 255, 255, 0.16);
    --bg-menu: #2D415B;
}

.body {
    background-color: var(--dark-blue);
    font-family: var(--font-family);
    color: #fff;
}

textarea {
    border: 0 none;
    box-shadow: 0 0 0 0;
    outline: none;
    resize: none;
}

button:hover {
    cursor: pointer;
}

#myForm {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .main {
        padding: 40px 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .main {
        display: grid;
        grid-template-areas: 
            'nav-area main-area'
        ;
        grid-template-columns: 200px 1fr;
    }
}
